[Unit]
Description=Log FLARM takeoff and landing to glidernet flight log for airfield %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/flightLGo/bin/flightLGo
WorkingDirectory=/etc/opt/flightlgo/%i
DynamicUser=yes
User=flightlgo-%i
Group=flightlgo-%i
Restart=always
RestartSec=10

TemporaryFileSystem=/boot:ro
TemporaryFileSystem=/mnt:ro
TemporaryFileSystem=/srv:ro
TemporaryFileSystem=/var:ro
TemporaryFileSystem=/opt:ro
BindReadOnlyPaths=/opt/flightLGo
MemoryDenyWriteExecute=yes

ProtectSystem=strict
ProtectHome=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
PrivateTmp=yes
PrivateUsers=yes
PrivateDevices=yes
DevicePolicy=strict
DeviceAllow=/dev/null r
ProcSubset=pid
LockPersonality=yes
RestrictNamespaces=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes

CapabilityBoundingSet=
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallFilter=~@resources
SystemCallErrorNumber=EPERM
RestrictAddressFamilies=AF_INET AF_INET6
UMask=0777


[Install]
WantedBy=multi-user.target
